// Mixins in here
.buttons-pmix(@width, @height, @padding, @color, @b-color, @font-size){
    text-align: center;
    border-radius: 12px;
    width: @width;
    height: @height;
    padding: @padding;
    color: @color;
    background-color: @b-color;
    font-size: @font-size;
}